/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
    background-color: #e6a272;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui {
    margin:40px;
}

.ui button {
    width:250px;
    font-size:1.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.announcer {
    font-size: 3rem;
    padding-bottom:30px;
}

.gameboard {
    display:grid;
    grid-template:repeat(3,200px)/ repeat(3,200px);
    gap:5px;
    width: fit-content;
}

.cell {
    background-color: #e6e3e3;
    border: none;
    font-size:5rem;
    border-radius:5px;
}

.cell:hover {
    cursor: pointer;
    background-color: beige;
}